<%- include("_header") -%>

<h1>List of restaurants (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Region</th>
        <th>Feedback</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const restaurant of model) { %>
        <tr>
          <td><%= restaurant.Name %></td>
          <td><%= restaurant.Region %></td>
          <td><%= restaurant.Feedback %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= restaurant.Restaurant_ID %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= restaurant.Restaurant_ID %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>